<ion-view view-title="Dashboard">
     <div class="bar bar-subheader item-input-inset" >
        <div class="item-input-wrapper">
            <input type="text" placeholder="Search event" ng-model="query">
        </div>
    </div>
  <ion-content class="padding" style="margin-top:45px">
<div class="row" style="background-color: #ddd; border: 1px solid #ddd">
    <div class="col">ID</div>
  <div class="col">Name</div>
  <div class="col">Product</div>
  <div class="col" >Department</div>
</div>
<div class="row" ng-repeat="e in empDetails | filter : query track by $index" style="border: 1px solid #ddd" ng-click="delUpdate(e)">
    <div class="col">{{e.id}}</div>
  <div class="col">{{e.pName}}</div>
  <div class="col">{{e.pPrice}}</div>
  <div class="col">{{e.pDept}}</div>
</div>
<button class="button button-block button-positive" ng-click="openAdd()">
  Add Emp
</button>
  </ion-content>
  <script id="addPopup.html" type="text/ng-template">
      <div class="list">
    <label class="item item-input item-stacked-label">
    <span class="input-label"> ID</span>
    <input type="text" ng-model="emp.id">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Product Name</span>
    <input type="text"  ng-model="emp.pName">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Product Price</span>
    <input type="text"  ng-model="emp.pPrice">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Product Department</span>
    <input type="text"  ng-model="emp.pDept">
  </label>
  <!--<label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="john@suhr.com" ng-model="emp.email">
  </label>-->
</div>
<button class="button button-block button-balanced" ng-click="addEmp(emp)">
  ADD
</button>
<button class="button button-block button-assertive" ng-click="closePopup()">
  Cancel
</button>
</script>

<!-- popup Confitrm update  delete -->
<script id="addPopup2.html" type="text/ng-template">

<button class="button button-block button-assertive" ng-click="del()">
  delete
</button>
<button class="button button-block button-balanced" ng-click="edit()">
  edit
</button>
<button class="button button-block button-assertive" ng-click="closePopup2()">
  Cancel
</button>
</script>
<!-- ******************************-->
<script id="addPopup3.html" type="text/ng-template">
      <div class="list">
   <label class="item item-input item-stacked-label">
    <span class="input-label"> ID</span>
    <input type="text" ng-model="empUpdate.id">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Product Name</span>
    <input type="text"  ng-model="empUpdate.pName">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Product Price</span>
    <input type="text"  ng-model="empUpdate.pPrice">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Product Department</span>
    <input type="text"  ng-model="empUpdate.pDept">
  </label>
</div>
<button class="button button-block button-balanced" ng-click="updateEmp(empUpdate)">
  Update
</button>
<button class="button button-block button-assertive" ng-click="closePopup3()">
  Cancel
</button>
</script>




 </ion-view>
